.content{
    position: relative;
    float: right;
    margin-top: -600px;
    margin-right: 280px;
    background-color: #BCC6CC;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px #686A6C;
}

.row{
    margin-bottom: 40px;
    background-color: #BCC6CC;
    
}


